*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

CoderSwag/\.idea/encodings\.xml

CoderSwag/\.idea/codeStyles/Project\.xml

CoderSwag/app/src/main/gen/com/noahfranck/coderswag/Manifest\.java

CoderSwag/app/src/main/gen/com/noahfranck/coderswag/R\.java
